@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}
h1 {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 20vh;
    font-size: large;
}
header {
    img {
        height: 15vh;
    }
}
header {
    span {
        margin: 1em;
    }
}
main {
    border-block-start: solid 1px rgb(207, 202, 202);
}
.smaller-title {
    color: orange;
    size: 1em;
    margin: 10px;
}
.bigger-title {
    font-size: 3em;
    color: black;
}
section {
    width: 100vw;
    margin: 5vw;
    display: flex;
    justify-content: center;
    gap: 1em;
}
section {
    img {
        display: flex;
        justify-content: space-evenly;
        gap: 2vw;
        border-radius: 10%;
    }
}
.div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
